OVEHOSTED_CORE/deployProceed=bool:True
OVEHOSTED_CORE/confirmSettings=bool:True
OVEHOSTED_NETWORK/fqdn=str:ovengine.{{yourdomainsuffix}}
OVEHOSTED_NETWORK/bridgeName=str:ovirtmgmt
OVEHOSTED_NETWORK/gateway=str:{{yourgateway}}
OVEHOSTED_ENGINE/clusterName=str:{{clustername}}
OVEHOSTED_STORAGE/storageDatacenterName=str:hosted_datacenter
OVEHOSTED_STORAGE/domainType=str:{{storage-type}}
OVEHOSTED_STORAGE/imgSizeGB=str:{{he_size_gb}}
OVEHOSTED_STORAGE/storageDomainName=str:hosted_storage
# if NFS, provide storage connection: eg: 127.0.0.1:/she
OVEHOSTED_STORAGE/storageDomainConnection=str:{{stor_conn}}
OVEHOSTED_VDSM/consoleType=str:{{qxl_or_vnc}}
OVEHOSTED_VM/vmMemSizeMB=int:{{engine_RAM_MB}}
OVEHOSTED_VM/vmVCpus=str:{{engine_vCPUs}}
# OVEHOSTED_VM/ovfArchive=str:/usr/share/ovirt-engine-appliance/ovirt-engine-appliance-4.1-20170821.1.el7.centos.ova
OVEHOSTED_VM/automateVMShutdown=bool:True
OVEHOSTED_VM/cloudInitISO=str:generate
OVEHOSTED_VM/cloudinitInstanceDomainName=str:{{yourdomainsuffix}}
OVEHOSTED_VM/cloudinitInstanceHostName=str:ovengine.{{yourdomainsuffix}}
OVEHOSTED_VM/rootSshPubkey=str:{{rootssh_pubkey}}
OVEHOSTED_VM/cloudinitExecuteEngineSetup=bool:True
OVEHOSTED_VM/cloudinitVMStaticCIDR=str:{{engine_IP}}/{{subnetmask}}
OVEHOSTED_VM/cloudinitVMTZ=str:{{timezone}}
OVEHOSTED_VM/rootSshAccess=str:yes
OVEHOSTED_VM/cloudinitVMETCHOSTS=bool:True
OVEHOSTED_VM/cloudinitVMDNS=str:{{your_DNS_IP}}
OVEHOSTED_NOTIF/smtpPort=str:25
OVEHOSTED_NOTIF/smtpServer=str:localhost
OVEHOSTED_NOTIF/sourceEmail=str:engine@ovirt.{{yourdomainsuffix}}
OVEHOSTED_NOTIF/destEmail=str:{{your_email}}
